%h1 トップページ
- if user_signed_in?
  = "#{current_user.name}"
  %br
  = "#{current_user.email}"
  %span
  %br
  = link_to "ログアウト", destroy_user_session_path, method: :delete
- else
  %h2 ログインしていません
  =link_to "新規登録", new_user_registration_path
  =link_to "ログイン", new_user_session_path

%p
  = $date
%p.non-modal
  = button_tag "モーダルとは無関係なボタン", type: "button", id: "out-of-modal"

%p.modal
  = button_tag "modal", type: "button", id: "modal-btn"
#modal-box
  = button_tag "close", tyoe: "button", id: "modal-close-btn"