%header
  = render 'layouts/header'
%br
%main.lists-index
  .left-content
    .lists-index__list-operator
      .lists-index__list-operator__search-form
        ＜リスト検索＞
        = form_with url: list_search_lists_path, method: :get, class: "lists-index__list-operator__search-form__form-field" do |f|
          = f.text_field :keyword, class: "lists-index__list-operator__search-form__form-field__text-field", placeholder: "検索のヒント：除外したい単語の前にマイナス記号(-)をつけて下さい", required: true, size: "70px"
          = button_tag type: "submit", class:"lists-index__list-operator__search-form__form-field__list-search-btn" do
            %i.fas.fa-search
      %br
      .lists-index__list-operator__create-list-btn
        = link_to new_list_path, class: "new-list-btn" do
          リストを追加
          %i.fas.fa-plus-circle
    %br
    .lists-index__list-table
      %table.users-list
        %thead
          %tr
            %th
              = "＜リスト一覧＞"
          %tr
            %th
              リスト名
            %th
              タスク数
        %tbody.hover-records
          - if current_user.lists.length != 0
            - @lists.where(user_id: current_user).each.with_index(1) do |list, index|
              %tr
                %td
                  = link_to "#{list.list_name}", list_path(list), id: "list_#{index}"
                %td
                  = "#{list.goals.length}"
                %td
                  = link_to new_list_goal_path(list.id) do
                    %i.fas.fa-plus-circle
                %td
                  = link_to edit_list_path(list.id) do
                    %i.fas.fa-edit
                %td{data: {index: "#{index}"}}
                  = link_to list_path(list.id), method: :delete, class: "lists-index__delete-btn" do
                    %i.fas.fa-trash-alt
          - else
            %tr
              %td -- NO LIST --
      = paginate @lists
    %br

  .right-content
    .lists-index__task-operator
      .lists-index__task-operator__search-form
        ＜タスク検索＞
        = form_with url: task_search_lists_path, method: :get, class: "lists-index__task-operator__search-form__form-field" do |f|
          = f.text_field :keyword, placeholder: "#{current_user.name}さんのすべてのタスクから検索", id: "task-searcher", size: "70px"
      .lists-index__task-table
        - if @tasks.length != 0
          %table#next-seven-days-tasks
            %thead
              %tr
                %th
                  ＜次の7日間のタスク＞
              %tr
                %th
                  サムネイル
                %th
                  タスク名
                %th
                  所属リスト
                %th
                  予定日時
                %th
                  タスクの状態
            %tbody
              - @tasks.each.with_index(1) do |task, index|
                %tr
                  -if task.image.attached?
                    %td.thumbnail
                      = image_tag task.image.variant(resize: "100x100").processed
                  - else
                    %td
                      %i.fas.fa-tasks.no-image
                  %td
                    = link_to "#{task.title}", list_goal_path(task.list_id, task), id: "goal_#{index}"
                  %td
                    = "#{List.find(task.list_id).list_name}"
                  %td
                    = "#{task.date.strftime("%m/%d %H:%M (#{%w(日 月 火 水 木 金 土)[task.date.wday]}）")}"
                  %td
                    = "#{task.status_i18n}"
                  %td
                    = link_to edit_list_goal_path(task.list_id, task.id) do
                      %i.fas.fa-edit
                  %td{data: {index: "#{index}"}}
                    = link_to list_goal_path(task.list_id, task.id), method: :delete, class: "lists-show__delete-btn" do
                      %i.fas.fa-trash-alt
        - else
          = "#{@next_seven_days.strftime("%m/%d  (#{%w(日 月 火 水 木 金 土)[@next_seven_days.wday]}）")}までタスクはありません"
        %table#task-table
