%h1 トップページ
- if user_signed_in?
  = "#{current_user.name}"
  %br
  = "#{current_user.email}"
  %span
  %br
  = link_to destroy_user_session_path, method: :delete do
    %i.fas.fa-sign-out-alt
    %span ログアウト
- else
  %h2 ログインしていません
  =link_to "新規登録", new_user_registration_path
  =link_to new_user_session_path do
    %i.fas.fa-sign-in-alt
    %span ログイン

%p
  = link_to new_list_path, class: "new-list-btn" do
    %i.fas.fa-plus-circle
    %span リストを追加

.lists
  = "#{current_user.name}さんのリスト一覧"
  - if current_user.lists.length != 0
    - current_user.lists.each do |list|
      %p.list
        = link_to list_path(list) do
          = "#{list.list_name}"
          %i.fas.fa-angle-double-right
  - else
    %p -- NO LIST --