= render 'layouts/header'
.lists-index
  .list-index__users-list
    %table
      %tbody
        %tr
          %th
            = "＜#{current_user.name}さんのリスト一覧＞"
          %th
            = link_to new_list_path, class: "new-list-btn" do
              %i.fas.fa-plus-circle
              %span リストを追加
        - if current_user.lists.length != 0
          - current_user.lists.each.with_index(1) do |list, index|
            %tr
              %td
                = link_to list_path(list), id: "list-name_#{index}" do
                  = "#{list.list_name}"
                  %i.fas.fa-angle-double-right
              %td
                = link_to edit_list_path(list.id) do
                  編集
              %td{data: {index: "#{index}"}}
                = link_to list_path(list.id), method: :delete, class: "lists-index__delete-btn" do
                  削除
        - else
          %tr
            %td -- NO LIST --
  %br
  = render partial: "layouts/link-to-category-index"