= render 'layouts/header'
%br
.lists-index
  .lists-index__operator
    .lists-index__operator__create-list-btn
      = link_to new_list_path, class: "new-list-btn" do
        %i.fas.fa-plus-circle
        リストを追加
    .lists-index__operator__search-form
      = form_with url: list_search_lists_path, method: :get, id: "lists-new__search-form" do |f|
        = f.text_field :keyword, placeholder: "リストを検索する"
        = button_tag type: "submit", id:"lists-new__search-btn" do
          %i.fas.fa-search
  %br
  .lists-index__table
    %table
      %tbody
        %tr
          %th
            = "＜#{current_user.name}さんのリスト一覧＞"
        - if current_user.lists.length != 0
          - current_user.lists.each.with_index(1) do |list, index|
            %tr
              %td
                = link_to list_path(list), id: "list-name_#{index}" do
                  = "#{list.list_name}"
                  %i.fas.fa-angle-double-right
              %td
                = link_to edit_list_path(list.id) do
                  %i.fas.fa-edit
              %td{data: {index: "#{index}"}}
                = link_to list_path(list.id), method: :delete, class: "lists-index__delete-btn" do
                  %i.fas.fa-trash-alt
        - else
          %tr
            %td -- NO LIST --
  %br
  = render partial: "layouts/link-to-category-index"