= render 'layouts/header'
%br
- breadcrumb :lists_search
= breadcrumbs separator: " &rsaquo; "
%br
.lists-search
  .lists-search__search-form
    = form_with url: search_lists_path, method: :get, id: "lists-search__list-searcher" do |f|
      = f.text_field :keyword, placeholder: "リストを検索する"
      = f.submit "検索", id:"lists-new__search-btn"
  .lists-search__results-row
    - @lists.each do |list|
      %p
        = link_to list_path(list) do
          = list.list_name
          %i.fas.fa-angle-double-right

