%header
  = render 'layouts/header'
  .breadcrumbs-field
    - breadcrumb :lists_show
    = breadcrumbs separator: " &rsaquo; "

%main.lists-show
  .lists-show__operator
    -# 検索フォーム
    .lists-show__operator__search-form
      = form_with url: task_search_in_list_list_goals_path(@list), method: :get, class: "lists-show__operator__search-form__form-fields" do |f|
        = f.text_field :keyword, placeholder: "”#{@list.list_name}” のタスクを検索", id: "list-in-search", required: true
        = button_tag type: "submit", id:"lists-show__search-btn" do
          %i.fas.fa-search
    -# タスク追加ボタン
    .lists-show__operator__create-task-btn
      = link_to new_list_goal_path(@list) do
        タスクを追加
        %i.fas.fa-plus

  -# リスト内タスク一覧
  .lists-show__task-table
    - if @goals.length != 0
      %table.lists-show__task-table__results
        %thead.lists-show__task-table__results__header
          %tr
            %th
              サムネイル
            %th
              タスク名
            %th
              予定日時
            %th
              タスクの状態
            %th
            %th
        %tbody.lists-show__task-table__results__body
          - @goals.each do |goal|
            %tr{data: {lists_show_task_id: goal.id}}
              - if goal.image.attached?
                %td.thumbnail.td-image
                  = image_tag goal.image.variant(combine_options:{resize:"80x80^",crop:"80x80+0+0",gravity: :center}).processed
              - else
                %td
                  %i.fas.fa-tasks.no-image
              %td
                = link_to "#{goal.title}", list_goal_path(@list.id, goal), id: "goal_#{goal.id}"
              %td
                = "#{goal.date.strftime("%Y/%m/%d %H:%M")}"
              %td.js-change-status{data: {id: goal.id}}
                = button_to "#{goal.status_i18n}", change_status_list_goal_path(goal.list_id, goal), method: :post, name: "status", class: "change-status-btn goal_#{goal.id}", value: goal.status
              %td
                = link_to edit_list_goal_path(goal.list_id, goal.id) do
                  %i.fas.fa-edit
              %td
                = link_to list_goal_path(goal.list_id, goal.id), method: :delete, class: "lists-show__delete-task-btn", data: {task_id: "#{goal.id}"} do
                  %i.fas.fa-trash
      = paginate @goals
    - else
      %p -- NO TASK --

%footer.lists-show__footer
  = render partial: "layouts/link-to-category-index"