%p
  = "＜#{@list.list_name}＞のタスク一覧"
%p
  = link_to new_list_goal_path(@list) do
    %i.fas.fa-plus-circle
    %span タスクを追加
- if @goals.length != 0
  - @goals.each do |goal|
    %p
      = link_to list_goal_path(@list.id, goal) do
        = "#{goal.title}"
        %i.fas.fa-angle-double-right
      - if goal.date != nil
        %h6
          = "#{goal.date.strftime("%Y年%m月%d日 %H時%M分")}"
- else
  %p -- NO TASK --

= render partial: "layouts/return-to-root"