= render 'layouts/header'
%br
- breadcrumb :lists_show
= breadcrumbs separator: " &rsaquo; "
%br
.lists-show
  %h1.lists-show__page-title
    = "＜リスト”#{@list.list_name}”のタスク一覧＞"
  %br
  .list-show__add-task-btn
    = link_to new_list_goal_path(@list) do
      %i.fas.fa-plus-circle
      %span タスクを追加
  %br
  - if @goals.length != 0
    %table
      %tbody
        %tr
          %th
            サムネイル
          %th
            タスク名
          %th
            予定日時
          %th
            タスクの状態
        - @goals.each.with_index(1) do |goal, index|
          %tr
            - if goal.image.attached?
              %td
                = image_tag goal.image, size: "100x100"
            - else
              %td
                %i.fas.fa-tasks.lists-show__no-image
            %td
              = link_to list_goal_path(@list.id, goal), id: "goal-title_#{index}" do
                = "#{goal.title}"
                %i.fas.fa-angle-double-right
            %td
              = "#{goal.date.strftime("%Y年%m月%d日 %H時%M分")}"
            %td
              = goal.status_i18n
            %td{data: {index: "#{index}"}}
              = link_to list_goal_path(goal.list_id, goal.id), method: :delete, class: "lists-show__delete-btn" do
                削除
  - else
    %p -- NO TASK --
  %br
  = render partial: "layouts/link-to-category-index"
  = render partial: "layouts/return-to-root"