= render 'layouts/header'
%br
- breadcrumb :lists_show
= breadcrumbs separator: " &rsaquo; "
%br
.lists-show
  %h1.lists-show__page-title
    = "＜リスト”#{@list.list_name}”のタスク一覧＞"
  %br
  .lists-show__operator
    .lists-show__operator__create-task-btn
      = link_to new_list_goal_path(@list) do
        タスクを追加
        %i.fas.fa-plus-circle
    %br
    .lists-show__operator__search-form
      = form_with url: task_search_lists_path, method: :get, class: "lists-show__operator__search-form__form-fields" do |f|
        = f.text_field :keyword, placeholder: "#{@list.list_name}のタスクを検索", id: "task-searcher", size: "40px", required: true
        = button_tag type: "submit", id:"lists-show__search-btn" do
          %i.fas.fa-search
  %br
  - if @goals.length != 0
    %table.lists-show__operator__search-results
      %thead.lists-show__table-header
        %tr
          %th
            サムネイル
          %th
            タスク名
          %th
            予定日時
          %th
            タスクの状態
      %tbody.lists-show__operator__search-results__result-rows
        - @goals.each.with_index(1) do |goal, index|
          %tr
            - if goal.image.attached?
              %td
                = image_tag goal.image, size: "100x100"
            - else
              %td
                %i.fas.fa-tasks.lists-show__no-image
            %td
              = link_to "#{goal.title}", list_goal_path(@list.id, goal), id: "goal_#{index}"
            %td
              = "#{goal.date.strftime("%m月%d日 %H時%M分")}"
            %td
              = goal.status_i18n
            %td
              = link_to edit_list_goal_path(goal.list_id, goal.id) do
                %i.fas.fa-edit
            %td{data: {index: "#{index}"}}
              = link_to list_goal_path(goal.list_id, goal.id), method: :delete, class: "lists-show__delete-btn" do
                %i.fas.fa-trash-alt
  - else
    %p -- NO TASK --
  %br
= render partial: "layouts/link-to-category-index"
= render partial: "layouts/return-to-root"