.lists-show
  %h1.lists-show__page-title
    = "”#{@list.list_name}”のタスク一覧"
  %br
  .list-show__add-task-btn
    = link_to new_list_goal_path(@list) do
      %i.fas.fa-plus-circle
      %span タスクを追加
  %br
  - if @goals.length != 0
    %table
      %tbody
        %tr
          %th
            タスク名
          %th
            予定日時
        - @goals.each do |goal|
          %tr
            %td
              = link_to list_goal_path(@list.id, goal) do
                = "#{goal.title}"
                %i.fas.fa-angle-double-right
            %td
              = "#{goal.date.strftime("%Y年%m月%d日 %H時%M分")}"
  - else
    %p -- NO TASK --
  %br
  = render partial: "layouts/link-to-category-index"
  = render partial: "layouts/return-to-root"