%header
  = render 'layouts/header'
  %br
  - breadcrumb :lists_show
  = breadcrumbs separator: " &rsaquo; "
%br
%main.lists-show
  %h1.lists-show__page-title
    = "＜リスト”#{@list.list_name}”のタスク一覧＞"
  %br
  .lists-show__operator
    -# タスク追加ボタン
    .lists-show__operator__create-task-btn
      = link_to new_list_goal_path(@list) do
        タスクを追加
        %i.fas.fa-plus-circle
    %br

    -# 検索フォーム
    .lists-show__operator__search-form
      = form_with url: search_in_list_list_path(@list), method: :get, class: "lists-show__operator__search-form__form-fields" do |f|
        = f.text_field :keyword, placeholder: "#{@list.list_name}のタスクを検索", id: "list-in-search", size: "40px", required: true
        = button_tag type: "submit", id:"lists-show__search-btn" do
          %i.fas.fa-search

    -# ソート用プルダウンメニュー
    - if @goals.length != 0
      .lists-show__operator__sort
        .lists-show__operator__sort__select-wrap
          -# params[:sort]という名前でoptionのvalue属性をlists#list_searchに送る
          %select{name: "sort_order", class: 'sort_order'}
            %option{value: "location.pathname", name: "location.pathname"}
              並び替え
            %option{value: "title_asc"}
              タスク名（昇順）
            %option{value: "title_desc"}
              タスク名（降順）
            %option{value: "date_asc"}
              予定日時（昇順）
            %option{value: "date_desc"}
              予定日時（降順）
            %option{value: "status_asc"}
              「実行中」を前に
            %option{value: "status_desc"}
              「達成！」を前に
            %option{value: "updated_at_asc"}
              更新日時（昇順）
            %option{value: "updated_at_desc"}
              更新日時（降順）

  %br
  -# 検索結果
  .lists-show__task-table
    - if @goals.length != 0
      %table.lists-show__task-table__results
        %thead.lists-show__task-table__results__header
          %tr
            %th
              サムネイル
            %th
              タスク名
            %th
              予定日時
            %th
              タスクの状態
        %tbody.lists-show__task-table__results__body
          - @goals.each.with_index(1) do |goal|
            %tr{data: {id:goal.id}}
              - if goal.image.attached?
                %td.thumbnail
                  = image_tag goal.image.variant(resize: "100x100").processed
              - else
                %td
                  %i.fas.fa-tasks.no-image
              %td
                = link_to "#{goal.title}", list_goal_path(@list.id, goal), id: "goal_#{goal.id}"
              %td
                = "#{goal.date.strftime("%Y/%m/%d %H:%M")}"
              %td.js-change-status{data: {id: goal.id}}
                = button_to "#{goal.status_i18n}", change_status_list_goal_path(goal.list_id, goal), method: :post, name: "status", class: "change-status-btn goal_#{goal.id}", value: goal.status
              %td
                = link_to edit_list_goal_path(goal.list_id, goal.id) do
                  %i.fas.fa-edit
              %td{data: {id: "#{goal.id}"}}
                = link_to list_goal_path(goal.list_id, goal.id), method: :delete, class: "lists-show__delete-btn" do
                  %i.fas.fa-trash-alt
      = paginate @goals
    - else
      %p -- NO TASK --
%br
%footer
  = render partial: "layouts/link-to-category-index"
  = render partial: "layouts/return-to-root"