%header
  = render 'layouts/header'
  %br
  - breadcrumb :tasks_search
  = breadcrumbs separator: " &rsaquo; "
  %br
.task_search
  .task_search__search-form
    = form_with url: task_search_lists_path, method: :get, id: "task-search-form" do |f|
      = f.text_field :keyword, placeholder: "タスクを検索"
      = button_tag type: "submit", id:"task-search-btn" do
        %i.fas.fa-search
  .task_search__results
    %table.task_search__results__table
      %tbody
        %tr
          %th
            検索結果：
        - @tasks.each.with_index(1) do |task, i|
          %tr
            %td
              - if task.image.attached?
                = image_tag task.image, size: "100x100"
              - else
                %i.fas.fa-tasks.lists-task_search__results__icon
            %td{class: "lists-task_search__results__task-#{i}"}
              = link_to list_goal_path(task.list_id, task.id) do
                = task.title
                %i.fas.fa-angle-double-right
            %td
              = link_to list_path(task.list_id) do
                = "#{List.find(task.list_id).list_name}"
                %i.fas.fa-angle-double-right