%h2 住所情報登録
= form_with model:@address, scope: :address, url: addresses_path, id: 'new_user_address',local: true do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :postcode, "郵便番号"
    %br
    = f.text_field :postcode, placeholder: "例：123-4567"
  .field
    = f.label :prefecture, "住所"
    %br
    = f.select :prefecture, Address.prefectures_i18n.invert, {}, {id: 'prefecture_selector'}
  .field
    = f.label :city, "市区町村"
    %br
    = f.text_field :city, placeholder: "例：渋谷区xx町"
  .field
    = f.label :building, "建物名・番地"
    %br
    = f.text_field :building, placeholder: "例：xxマンションyyy号室"
  .actions
    = f.submit "登録"
= render "devise/shared/links"
