.goals-edit
  .goals-edit__goal-section
    .goals-edit__form
      = form_with model:@goal, url: list_goal_path(@list, @goal), local: true do |f|
        .goals-edit__form__image
          .goals-edit__form__image__previews
            - if @goal.image.attached?
              .goals-edit__form__image__previews__current-image
                .goals-edit__form__image__previews__current-image__image-box
                  = image_tag @goal.image.variant(combine_options:{resize:"220x220^",crop:"220x220+0+0",gravity: :center}).processed
                  %br
                  = link_to "元の画像を削除", image_destroy_list_goal_path(@list, @goal), method: :delete , class: "goals-edit__delete-current-image-btn"
                .goals-edit__form__image__previews__current-image__icon
                  %i.fas.fa-angle-double-right
            .goals-edit__form__image__previews__new-image
              -# この下にプレビュー用のimg要素がappendされる
        .goals-edit__form__fields
          -# プレビュー用イベント発生元
          .goals-edit__form__fields--file
            .goals-edit__form__fields--file__upload
              = f.label :image, class: "goals-edit__form__upload-label" do
                %i.fa.fa-camera
                = f.file_field :image, class: "goals-edit__form__file-field"
            .goals-edit__form__fields--file__remove
              %i.fas.fa-trash#goals-edit__remove-preview-btn
          .goals-edit__form__fields--text
            = f.text_field :title, value: @goal.title, id: "goals-edit__text-field", placeholder: "20文字以内"
        .goals-edit__form__status
          = f.select :status, Goal.statuses_i18n.invert, {}, {class: 'goals-edit__select-goal-status'}
        .goals-edit__form__date
          = f.label :date, "予定日"
          %br
          = f.datetime_select :date, {use_month_numbers: true, default: Time.now + 1.hour, datetime_separator: '<br><label class="datetime-selector">予定時刻<br></label>', minute_step: 5}
        .goals-edit__form__category
          - if Category.where(user_id: current_user.id).length != 0
            .goals-edit__form__category__check-boxes
              = button_tag "カテゴリを選択", type: "button", id: "goals-edit__modal-fadein-btn"
              .goals-edit__form__category__check-boxes__options-box
                .options
                  = f.collection_check_boxes(:category_ids, Category.where(user_id: current_user.id), :id, :category_name, include_hidden: false) do |c|
                    .categories
                      = c.label {c.check_box}
                      %span
                      = c.label {c.text}
                      %br
          %ul.goals-edit__form__category__create-category-btn
            = button_tag "カテゴリを作成", type: "button", id: "create-category-btn"
        .goal-edit__form__hidden-field
          = f.hidden_field :list_id, value: @list.id
          = f.hidden_field :user_id, value: current_user.id, id:"login-user-id"
        .goals-edit__form__submit-btn
          = f.submit "登録"
    .goals-edit__links
      = render partial: "layouts/return-to-goals-show"
      = render partial: "layouts/return-to-lists-show"
      = render partial: "layouts/return-to-root"



  .goals-edit__steps-section
    - @steps.each.with_index do |step, index|
      - if index % 3 != 2
        .goals-edit__steps
          .goals-edit__steps--left
            .steps__image
              - if step.step_image.attached?
                = image_tag step.step_image.variant(combine_options:{resize:"170x170^",crop:"170x170+0+0",gravity: :center}).processed
              - else
                %i.fas.fa-shoe-prints.no-image
          .goals-edit__steps--right
            .right-box
              .steps__title
                = step.title
              %br
              .steps__status
                = step.status_i18n
      - else
        .goals-edit__anchor-step
          .goals-edit__anchor-step--left
            .anchor-step__image
              - if step.step_image.attached?
                = image_tag step.step_image.variant(combine_options:{resize:"170x170^",crop:"170x170+0+0",gravity: :center}).processed
              - else
                %i.fas.fa-shoe-prints.no-image
          .goals-edit__anchor-step--right
            .right-box
              .anchor-step__title
                = step.title
              %br
              .anchor-step__status
                = step.status_i18n



  .goals-edit__actions-section
    - @actions.each.with_index do |action, index|
      - if index != 2 && index != 5
        .goals-edit__actions
          .actions__left-box
            .actions__image
              - if action.action_image.attached?
                = image_tag action.action_image.variant(combine_options:{resize:"80x80^",crop:"80x80+0+0",gravity: :center}).processed
              - else
                %i.fas.fa-location-arrow
          .actions__right-box
            .contents--right
              .actions__title
                = action.title
              .actions__status
                = action.status_i18n
      - else
        .goals-edit__anchor-actions
          .anchor-actions__left-box
            .anchor-actions__image
              - if action.action_image.attached?
                = image_tag action.action_image.variant(combine_options:{resize:"80x80^",crop:"80x80+0+0",gravity: :center}).processed
              - else
                %i.fas.fa-location-arrow
          .anchor-actions__right-box
            .anchor-contents--right
              .anchor-actions__title
                = action.title
              .anchor-actions__status
                = action.status_i18n