- breadcrumb :goals_edit
= breadcrumbs separator: " &rsaquo; "
%br
.goals-edit
  .goals-edit__page-info
    %h1.goals-edit__page-info__page-title ＜タスク編集画面＞
  %br
  .goals-edit__form
    = form_with model:@goal, url: list_goal_path(@list, @goal), local: true do |f|
      .goals-edit__form__image
        .goals-edit__form__image__previews
          .goals-edit__form__image__preview__current-image
            - if @goal.image.attached?
              .goals-edit__form__image__preview__current-image__image-box
                = image_tag @goal.image.variant(resize: "250x250").processed
              -# .goals-edit__form__image__preview__current-image__right-angle
              -#   %i.fas.fa-angle-double-right
          .goals-edit__form__image__previews__new-image
      .goals-edit__form__text-field
        = f.text_field :title, value: @goal.title, id: "goals-edit__text-field", size: "45px", placeholder: "ゴールを設定して下さい"
        .goals-edit__form__text-field__icons
          .goals-edit__form__text-field__icons__upload
            = f.label :image, class: "goals-ediit__form__text-field__icons__upload__label" do
              %i.fa.fa-camera
              = f.file_field :image, id: "goals-edit__file-field"
          .goals-edit__form__text-field__icons__remove
            %i.fas.fa-trash#goals-edit__remove-preview-btn
      %br
      .goals-edit__form__fields
        = f.label :status, "タスクの状態"
        %br
        = f.select :status, Goal.statuses_i18n.invert, {}, {id: 'status_selector'}
        %br
        = f.label :date, "予定日"
        %br
        = f.datetime_select :date, {use_month_numbers: true, default: Time.now + 1.hour, datetime_separator: '<br><label class="datetime-selector">予定時刻<br></label>', minute_step: 5}
        = f.hidden_field :list_id, value: @list.id
        = f.hidden_field :user_id, value: current_user.id, id:"login-user-id"

      .goals-edit__form__category
        - if Category.where(user_id: current_user.id).length != 0
          .goals-edit__form__category__check-boxes
            = button_tag "カテゴリを選択", type: "button", id: "modal-fadein-btn"
            .goals-edit__form__category__check-boxes__options-box
              .options
                = f.collection_check_boxes(:category_ids, Category.where(user_id: current_user.id), :id, :category_name, include_hidden: false) do |c|
                  %br
                  = c.label {c.check_box}
                  %span
                  = c.label {c.text}
                  %br
                %br
                .close-btn
                  = button_tag "閉じる", type: "button", id: "modal-fadeout-btn"
                %br
        %ul.goals-edit__form__category__create-category-btn
          ＜新規カテゴリ＞
          = button_tag "追加", type: "button", id: "create-category-btn"

      .goals-edit__form__submit-btn
        = f.submit "登録"

    = render partial: "layouts/return-to-list-show"
    = render partial: "layouts/return-to-root"