%header
  = render 'layouts/header'
  - breadcrumb :goals_index
  = breadcrumbs separator: " &rsaquo; "
%main.goals-index
  %h1.goals-index__page-title
    = "{ ”#{@list_name}”内のタスク検索 }"
  %br
  .goals-index__operator
    .goals-index__operator__show-keywords
      検索ワード:
      - @keywords.each do |keyword|
        = "”#{keyword}”"
  .goals-index__search-results
    - @tasks.each do |task|
      %p
        = task.title


-# ソート用プルダウンメニュー
- if @tasks.length != 0
  .search-in-list__sort
    .search-in-list__sort__select-wrap
      -# params[:sort]という名前でoptionのvalue属性をlists#list_searchに送る
      %select{name: "sort", id: 'search-in-list__sort'}
        %option{value: "location.pathname", name: "location.pathname"}
          並び替え
        %option{value: "title_asc"}
          タスク名（昇順）
        %option{value: "title_desc"}
          タスク名（降順）
        %option{value: "date_asc"}
          予定日時（昇順）
        %option{value: "date_desc"}
          予定日時（降順）
        %option{value: "status_asc"}
          「実行中」を前に
        %option{value: "status_desc"}
          「達成！」を前に
        %option{value: "updated_at_asc"}
          更新日時（昇順）
        %option{value: "updated_at_desc"}
          更新日時（降順）
%footer
  = link_to list_path(@list_id) do
    %i.fas.fa-angle-left
    = "#{@list_name}のタスク一覧へ戻る"
