.goals-new
  .goals-new__form
    -# このページのフォームはすべてこのform要素に内包されなければならない
    = form_with model:@goal, url: list_goals_path(:id), id: "new-task-form", local: true do |f|
      .new-task-form
        -# セクション：goal
        .new-task-form__goal
          .new-task-form__goal__image
            .new-task-form__goal__image__preview
              -# 以下に画像プレビューをappend
          %br
          .new-task-form__goal__fields
            .new-task-form__goal__fields__image
              .new-task-form__goal__fields__image__upload
                = f.label :image, class: "new-task-form__goal__upload-label" do
                  %i.fa.fa-camera
                  = f.file_field :image, class: "new-task-form__goal__file-field"
              .new-task-form__goal__fields__image__remove
                %i.fas.fa-trash.new-task__goal__remove-preview-btn
            .new-task-form__goal__fields__text
              = f.text_field :title, id: "new-task-form__goal__text-field", value: "goal", placeholder: "45文字以内"
            .new-task-form__goal__fields__datetime
              = f.label :date, "予定日"
              %br
              = f.datetime_select :date, {use_month_numbers: true, default: Time.now + 1.hour, datetime_separator: '<br><label class="datetime-selector">予定時刻<br></label>', minute_step: 5}
            = f.hidden_field :list_id, value: @list.id
            = f.hidden_field :user_id, value: current_user.id
          -# セクション：goal(カテゴリ)
          .new-task-form__category
            - if Category.where(user_id: current_user.id).length != 0
              .new-task-form__category__check-boxes
                = button_tag "カテゴリを選択", type: "button", id: "goals-new__modal-fadein-btn"
                .new-task-form__category__check-boxes__options-box
                  .options
                    = f.collection_check_boxes(:category_ids, Category.where(user_id: current_user.id), :id, :category_name, include_hidden: false) do |c|
                      .categories
                        = c.label {c.check_box}
                        = c.label {c.text}
            .new-task-form__category__create-category-form
              = f.label "新規カテゴリを作成"
              %br
              = f.fields_for :categories do |c|
                = c.text_field :category_name, placeholder: "複数の場合はspaceまたはカンマで区切って下さい", id:"create-category-form"
                = c.hidden_field :user_id, value: current_user.id, class: "hidden-field__category__user-id"
          .new-task-form__submit-btn
            = f.submit "保存"
          .new-task-form__links
            = render partial: "layouts/return-to-lists-show"
            = render partial: "layouts/return-to-root"

        -# セクション：step
        .new-task-form__steps
          = f.fields_for :steps do |s|
            - 3.times.with_index do |t, index|
              - if index % 3 != 2
                .new-task-form__steps__fields
                  .new-task-form__steps__fields__image
                    .new-task-form__steps__fields__image__preview{class: "step-previews_#{index}"}
                      -# 以下に画像プレビューをappend
                    .new-task-form__steps__fields__image__icons
                      .new-task-form__steps__fields__image__icons__upload
                        = s.label :step_image, class: "new-task-form__steps__upload-label", id: "steps-upload-label_#{index}", for: "goal_steps_attributes_#{index}_step_image" do
                          %i.fa.fa-camera
                          = s.file_field :step_image, class: "new-task-form__steps__file-field steps-file-field_#{index}", data:{step_index: index}, name: "goal[steps_attributes][#{index}][step_image]", id: "goal_steps_attributes_#{index}_step_image"
                      .new-task-form__steps__fields__image__icons__remove
                        %i.fas.fa-trash.new-task-form__steps__remove-preview-btn{data:{step_index: index}}
                  .new-task-form__steps__fields__text
                    = s.text_field :title, class:"new-task-form__steps__text-field", id: "new-task-form__step-#{index}", value: "steps", name: "goal[steps_attributes][#{index}][title]", placeholder: "20文字以内"
                  .new-task-form__steps__hidden-fields
                    = s.hidden_field :user_id, value: current_user.id, class: "new-task-form__steps__hidden-field__user-id", id: "goal_steps_attributes_#{index}_user_id", name: "goal[steps_attributes][#{index}][user_id]"
                    = s.hidden_field :list_id, value: @list.id, class: "new-task-form__steps__hidden-field__list-id", id: "goal_steps_attributes_#{index}_list_id", name: "goal[steps_attributes][#{index}][list_id]"
              - else
                .new-task-form__anchor-step__fields
                  .new-task-form__anchor-step__fields__image
                    .new-task-form__anchor-step__fields__image__preview{class: "step-previews_#{index}"}
                      -# 以下に画像プレビューをappend
                    .new-task-form__anchor-step__fields__image__icons
                      .new-task-form__anchor-step__fields__image__icons__upload
                        = s.label :step_image, class: "new-task-form__anchor-step__upload-label", id: "steps-upload-label_#{index}", for: "goal_steps_attributes_#{index}_step_image" do
                          %i.fa.fa-camera
                          = s.file_field :step_image, class: "new-task-form__anchor-step__file-field steps-file-field_#{index}", data:{step_index: index}, name: "goal[steps_attributes][#{index}][step_image]", id: "goal_steps_attributes_#{index}_step_image"
                      .new-task-form__anchor-step__fields__image__icons__remove
                        %i.fas.fa-trash.new-task-form__anchor-step__remove-preview-btn{data:{step_index: index}}
                  .new-task-form__anchor-step__fields__text
                    = s.text_field :title, class:"new-task-form__anchor-step__text-field", id: "new-task-form__step-#{index}", value: "steps", name: "goal[steps_attributes][#{index}][title]", placeholder: "20文字以内"
                  .new-task-form__anchor-step__hidden-fields
                    = s.hidden_field :user_id, value: current_user.id, class: "new-task-form__anchor-step__hidden-field__user-id", id: "goal_steps_attributes_#{index}_user_id", name: "goal[steps_attributes][#{index}][user_id]"
                    = s.hidden_field :list_id, value: @list.id, class: "new-task-form__anchor-step__hidden-field__list-id", id: "goal_steps_attributes_#{index}_list_id", name: "goal[steps_attributes][#{index}][list_id]"


        -# セクション：practice
        .new-task-form__practices
          = f.fields_for :practices do |a|
            - 9.times.with_index do |t, index|
              - if index != 2 && index != 5
                .new-task-form__practices__fields
                  .new-task-form__practices__fields--left
                    .new-task-form__practices__fields__image
                      .new-task-form__practices__fields__image__preview{class: "practice-previews_#{index}"}
                        -# 以下に画像プレビューをappend

                  .new-task-form__practices__fields--right
                    .right-form-box
                      .new-task-form__practices____text-field
                        = a.text_field :title, class:"new-task-form__practices__text-field", id: "new-task-form__practice-#{index}", value: "actions", name: "goal[practices_attributes][#{index}][title]", placeholder: "20文字以内"
                      .new-task-form__practices__icons
                        .new-task-form__practices__icons__upload
                          = a.label :practice_image, class: "new-task-form__practices__upload-label", id: "practices-upload-label_#{index}", for: "goal_practices_attributes_#{index}_practice_image" do
                            %i.fa.fa-camera
                            = a.file_field :practice_image, class: "new-task-form__practices__file-field practices-file-field_#{index}", data:{practice_index: index}, name: "goal[practices_attributes][#{index}][practice_image]", id: "goal_practices_attributes_#{index}_practice_image"
                        .new-task-form__practices__icons__remove
                          %i.fas.fa-trash.new-task-form__practices__remove-preview-btn{data:{practice_index: index}}
                  .new-task-form__practices__hidden-fields
                    = a.hidden_field :user_id, value: current_user.id, class: "new-task-form__practices__hidden-field__user-id", id: "goal_practices_attributes_#{index}_user_id", name: "goal[practices_attributes][#{index}][user_id]"
                    = a.hidden_field :list_id, value: @list.id, class: "new-task-form__practices__hidden-field__list-id", id: "goal_practices_attributes_#{index}_list_id", name: "goal[practices_attributes][#{index}][list_id]"
              - else
                .new-task-form__anchor-practices__fields
                  .new-task-form__anchor-practices__fields--left
                    .new-task-form__anchor-practices__fields__image
                      .new-task-form__anchor-practices__fields__image__preview{class: "practice-previews_#{index}"}
                        -# 以下に画像プレビューをappend

                  .new-task-form__anchor-practices__fields--right
                    .right-form-box
                      .new-task-form__anchor-practices____text-field
                        = a.text_field :title, class:"new-task-form__anchor-practices__text-field", id: "new-task-form__practice-#{index}", value: "actions", name: "goal[practices_attributes][#{index}][title]", placeholder: "20文字以内"
                      .new-task-form__anchor-practices__icons
                        .new-task-form__anchor-practices__icons__upload
                          = a.label :practice_image, class: "new-task-form__anchor-practices__upload-label", id: "practices-upload-label_#{index}", for: "goal_practices_attributes_#{index}_practice_image" do
                            %i.fa.fa-camera
                            = a.file_field :practice_image, class: "new-task-form__anchor-practices__file-field practices-file-field_#{index}", data:{practice_index: index}, name: "goal[practices_attributes][#{index}][practice_image]", id: "goal_practices_attributes_#{index}_practice_image"
                        .new-task-form__anchor-practices__icons__remove
                          %i.fas.fa-trash.new-task-form__anchor-practices__remove-preview-btn{data:{practice_index: index}}
                  .new-task-form__anchor-practices__hidden-fields
                    = a.hidden_field :user_id, value: current_user.id, class: "new-task-form__anchor-practices__hidden-field__user-id", id: "goal_practices_attributes_#{index}_user_id", name: "goal[practices_attributes][#{index}][user_id]"
                    = a.hidden_field :list_id, value: @list.id, class: "new-task-form__anchor-practices__hidden-field__list-id", id: "goal_practices_attributes_#{index}_list_id", name: "goal[practices_attributes][#{index}][list_id]"