%h2 タスク作成画面
= form_with model:@goal, url: list_goals_path(:id), local: true do |f|
  .field
    = f.label :title, "ゴールを設定して下さい"
    %br
    = f.text_field :title

  -# .categorize-field
  -#   = f.label "カテゴリー"
  -#   %ul#list_categories

  .categorize-field
    = f.label "カテゴリー"
    %br
    = f.fields_for :categories do |c|
      = c.text_field :category_name

  .actions
    = f.submit "登録"