.goal
  .goal__title
    = "#{@goal.title}"
    = link_to edit_list_goal_path(@list, @goal) do
      %i.fas.fa-cog

  .goal__categories
    = "＜#{@goal.title}＞のカテゴリ一覧"
    - @goal_categories.each do |c|
      %p
        = link_to category_path(c) do
          = "#{c.category_name}"
          %i.fas.fa-angle-double-right

= render partial: "layouts/return-to-list-show"
= render partial: "layouts/return-to-root"