- breadcrumb :goals_show
= breadcrumbs separator: " &rsaquo; "
%br
.goals-show
  %h1.goals-show__page-title
    .goals-show__page-title__goal-image
      - if @goal.image.attached?
        = image_tag @goal.image, size: "200x200"
      - else
        %i.fas.fa-tasks.lists-search__results__icon
    .goals-show__page-title__goal-title
      = "”#{@goal.title}”"
  %br
  %table
    %thead
      %th
        = "”#{@goal.title}”のカテゴリ一覧"
      - @goal_categories.each do |c|
        %tr
          %td
            = link_to category_path(c) do
              = "#{c.category_name}"
%br
= render partial: "layouts/return-to-list-show"
= render partial: "layouts/return-to-root"