.goals-show
  -# セクション：goal
  .goals-show__goal
    .goals-show__goal__box
      .goals-show__goal__box__image
        .goal-image-box
          - if @goal.image.attached?
            = image_tag @goal.image.variant(combine_options:{resize:"300x300^",crop:"300x300+0+0",gravity: :center}).processed
          - else
            %i.fas.fa-flag-checkered.no-image
      .goals-show__goal__box__title
        = link_to "#{@goal.title}", edit_list_goal_path(@goal.list_id, @goal), id: "goal-id_#{@goal.id}"
      .goals-show__goal__box__status.goals-show__js-change-status
        = link_to change_status_at_root_list_goal_path(@goal.list_id, @goal, status: @goal.status), method: :post, class: "goals-show__change-status-btn", id: "change-status__goal", data: {change_id: @goal.id} do
          - if @goal.status == "doing"
            %i.far.fa-circle.goals-show__change-status-icons
          - else
            %i.fas.fa-check-circle.goals-show__change-status-icons
      .goals-show__goal__box__reset
        = link_to reset_list_goal_path(@goal.list_id, @goal), method: :post, class: "goals-show__reset-goal-btn", data: {goal_id: @goal.id} do
          %i.fas.fa-eraser
      .goals-show__goal__box__date
        = "予定日時：#{@goal.date.strftime("%Y/%m/%d %H:%M")}"
      .goals-show__goal__box__category
        - if @categories.length != 0
          カテゴリ一覧：
          - @categories.each do |category|
            .goals-show__goal-categories
              = link_to "#{category.category_name}", category_path(category)
        - else
          カテゴリは設定されていません
    .goals-show-links
      = render partial: "layouts/return-to-lists-show"
      = render partial: "layouts/return-to-root"

  -# セクション：steps
  .goals-show__steps
    - @steps.each.with_index do |step, index|
      - if index % 3 != 2
        .goals-show__steps__box
          .goals-show__steps__box__image
            .step-image-boxes
              - if step.step_image.attached?
                = image_tag step.step_image.variant(combine_options:{resize:"150x150^",crop:"150x150+0+0",gravity: :center}).processed
              - else
                %i.fas.fa-shoe-prints.no-image
          .goals-show__steps__box__title
            = link_to "#{step.title}", edit_list_goal_step_path(@goal.list_id, @goal, step), id: "step-id_#{step.id}"
          .goals-show__steps__box__status.goals-show__js-change-status
            = link_to change_status_list_goal_step_path(@goal.list_id, @goal, step.id, status: step.status), method: :post, class: "goals-show__change-step-status-btn", id: "change-status__step-#{index}", data: {step_index: index} do
              - if step.status == "doing"
                %i.far.fa-circle{id: "step-status-icon_#{index}"}
              - else
                %i.fas.fa-check-circle{id: "step-status-icon_#{index}"}
          .goals-show__reset-steps
            = link_to reset_list_goal_step_path(step.list_id, step.goal_id, step), method: :post, class: "goals-show__reset-step-btn", data: {step_id: step.id} do
              %i.fas.fa-eraser
      - else
        .goals-show__steps__anchor-box
          .goals-show__steps__anchor-box__image
            .step-image-boxes
              - if step.step_image.attached?
                = image_tag step.step_image.variant(combine_options:{resize:"150x150^",crop:"150x150+0+0",gravity: :center}).processed
              - else
                %i.fas.fa-shoe-prints.no-image
          .goals-show__steps__anchor-box__title
            = link_to "#{step.title}", edit_list_goal_step_path(@goal.list_id, @goal, step), id: "step-id_#{step.id}"
          .goals-show__steps__anchor-box__status.goals-show__js-change-status
            = link_to change_status_list_goal_step_path(@goal.list_id, @goal, step.id, status: step.status), method: :post, class: "goals-show__change-step-status-btn", id: "change-status__step-#{index}", data: {step_index: index} do
              - if step.status == "doing"
                %i.far.fa-circle{id: "step-status-icon_#{index}"}
              - else
                %i.fas.fa-check-circle{id: "step-status-icon_#{index}"}
          .goals-show__reset-steps
            = link_to reset_list_goal_step_path(step.list_id, step.goal_id, step), method: :post, class: "goals-show__reset-step-btn", data: {step_id: step.id} do
              %i.fas.fa-eraser

  -# セクション：actions
  .goals-show__actions
    - @actions.each.with_index do |action, index|
      - if index != 2 && index != 5
        .goals-show__actions__box
          .box--left
            .goals-show__actions__box__image
              - if action.action_image.attached?
                = image_tag action.action_image.variant(combine_options:{resize:"80x80^",crop:"80x80+0+0",gravity: :center}).processed
              - else
                %i.fas.fa-location-arrow.no-image
          .box--right
            .goals-show__actions__box__title
              = link_to "#{action.title}", edit_list_goal_step_action_path(@goal.list_id, @goal, action.step_id, action), id: "action-id_#{action.id}"
            .goals-show__actions__box__status.goals-show__js-change-status
              = link_to change_status_list_goal_step_action_path(@goal.list_id, @goal, action.step_id, action, status: action.status), method: :post, class: "goals-show__change-action-status-btn", id: "change-status__action-#{index}", data: {action_index: index} do
                - if action.status == "doing"
                  %i.far.fa-circle{id: "action-status-icon_#{index}"}
                - else
                  %i.fas.fa-check-circle{id: "action-status-icon_#{index}"}
            .goals-show__actions__box__reset
              = link_to reset_list_goal_step_action_path(action.list_id, action.goal_id, action.step_id, action), method: :post, class: "goals-show__reset-actions-btn", data: {action_id: action.id} do
                %i.fas.fa-eraser
      - else
        .goals-show__actions__anchor-box
          .box--left
            .goals-show__actions__anchor-box__image
              - if action.action_image.attached?
                = image_tag action.action_image.variant(combine_options:{resize:"80x80^",crop:"80x80+0+0",gravity: :center}).processed
              - else
                %i.fas.fa-location-arrow.no-image
          .box--right
            .goals-show__actions__anchor-box__title
              = link_to "#{action.title}", edit_list_goal_step_action_path(@goal.list_id, @goal, action.step_id, action), id: "action-id_#{action.id}"
            .goals-show__actions__anchor-box__status.goals-show__js-change-status
              = link_to change_status_list_goal_step_action_path(@goal.list_id, @goal, action.step_id, action, status: action.status), method: :post, class: "goals-show__change-action-status-btn action_#{index}", id: "change-status__action-#{index}", data: {action_index: index} do
                - if action.status == "doing"
                  %i.far.fa-circle{id: "action-status-icon_#{index}"}
                - else
                  %i.fas.fa-check-circle{id: "action-status-icon_#{index}"}
            .goals-show__actions__anchor-box__reset
              = link_to reset_list_goal_step_action_path(action.list_id, action.goal_id, action.step_id, action), method: :post, class: "goals-show__reset-actions-btn", data: {action_id: action.id} do
                %i.fas.fa-eraser



