%header
  - breadcrumb :goals_show
  = breadcrumbs separator: " &rsaquo; "
%br
%main.goals-show
  .goals-show__task-info
    .goals-show__task-info__image
      - if @goal.image.attached?
        = image_tag @goal.image.variant(resize: "250x250"), class: "goals-show__task-info__image"
      - else
        %i.fas.fa-tasks
    .goals-show__task-info__title
      = "ゴール：#{@goal.title}"
  .goals-show__link-to-edit
    = link_to edit_list_goal_path(@goal.list_id, @goal) do
      %i.fas.fa-edit
  %br
  %table
    %thead
      %tr
        %th
          = "”#{@goal.title}”のカテゴリ一覧"
    %tbody
      - @goal_categories.each do |c|
        %tr
          %td
            = link_to category_path(c) do
              = "#{c.category_name}"
%br
%footer
  = render partial: "layouts/return-to-list-show"
  = render partial: "layouts/return-to-root"

