%header
  = render 'layouts/header'
  %br
  - breadcrumb :categories_edit
  = breadcrumbs separator: " &rsaquo; "
%br
.categories-edit
  %h1.categories-edit__page-title
    カテゴリ編集画面
  %br
  .categories-edit__form
    = form_with model: @category, url: category_path(@category), local: true do |f|
      = f.label :category_name, "カテゴリ名を変更"
      %br
      = f.text_field :category_name, value: @category.category_name
      %br
      = f.hidden_field :user_id, value: @category.user_id
      = f.submit "更新する"
  %br
  .link-to-category-index
    = link_to categories_path do
      %i.fas.fa-angle-left
      カテゴリ一覧
  = render partial: "layouts/return-to-root"
