%h1
  カテゴリ編集画面
.category-edit
  .category-edit__form
    = form_with model: @category, url: category_path(@category), local: true do |f|
      = f.label :category_name, "カテゴリ名を変更"
      %br
      = f.text_field :category_name, value: @category.category_name
      %br
      = f.submit "更新する"


.goals-index
  = "#{@category.category_name}のタスク一覧"
  - @category.goals.each do |goal|
    %p
      = link_to edit_list_goal_path(goal.list_id, goal.id) do
        %i.fas.fa-angle-double-right
        = "#{goal.title}"

= render partial: "layouts/return-to-root"
