.category-index
  %h1.category-index__page-title カテゴリ一覧
  %br
  %table
    %tbody
      %tr
        %th
          カテゴリ名
        %th
          タスク数
        - @categories.each do |category|
          %tr
            %td
              = link_to edit_category_path(category) do
                = "#{category.category_name}"
                %i.fas.fa-cog
            %td
              = link_to category_path(category) do
                = "#{category.goals.length}"
                %i.fas.fa-angle-double-right

= render partial: "layouts/return-to-root"